[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "==3.1.42"

[dev-packages]
pytest = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3"
