[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "==3.1.42"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
